* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  overflow-y: auto;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.img-facebook-logo {
  width: 70px;
  height: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 4rem 3rem;
}

.form > * {
  width: 100%;
}

.form-title {
  margin: 0;
  text-align: start;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 8px;
}

.form-btn {
  padding: 0.8rem;
  border: 1px solid gray;
  border-radius: 20px;
}

.form-login-btn {
  background-color: #005fd5;
  font-weight: bold;
  color: white;
}

.form-new-account-btn {
  border: 1px solid #005fd5;
  color: #005fd5;
  background-color: white;
}

.form-recovery {
  margin: 0;
  font-size: small;
  text-align: center;
}

